body {
    background-color: #f4f4f4;
}

img {
    width: 30%;
    margin: calc(10%/6);
}

nav {
    font-family: 'Ralaway', sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    border-bottom: 3px solid #8f8f8f;
    width: 30%;
    margin-left: calc(10%/6);
    padding: 1.2em 0;
}